*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: bisque; */
  
}

.App {

  background-color: rgb(116, 92, 92) !important;
}

.img {
  width: 50px;
}

.welcome {
  color: #ffbb33;
}
